In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/ywchiu/cathaylifepy/master/data/customer_data.tsv'
df = pd.read_csv(url, sep='\t')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Female,43,2,125510.82,1,1,1,79084.10,0

## 1.請試用python 計算在這文檔中有多少客戶(CustomerID)

In [3]:
import numpy as np
len(np.unique(df['CustomerId']))

10000

## 2.請算出所有客戶平均信用分數(CreditScore)

In [7]:
sum(df['CreditScore'])/len(np.unique(df['CustomerId']))

650.5288

## 3.請找出客戶姓氏(Surname)為H開頭的客戶擁有信用卡(HasCrCard == 1)的客戶數

In [4]:
ary = []
for index, row in df.iterrows():
    if row['Surname'][0]=='H' and row['HasCrCard'] ==1:
        ary.append(row[['Surname','HasCrCard']])

In [5]:
pd.DataFrame(ary).head()

      Surname  HasCrCard
0    Hargrave          1
9          H?          1
17  Henderson          1
19        Hao          1
40      Hsiao          1

In [6]:
len(ary)

463

## 4.請計算客戶流失比例(Exited == 1 對上 客戶總數)?

In [7]:
sum(df['Exited'] == 1)/len(df)

0.2037

## 請計算男性與女性(Gender)的平均薪資(Estimated Salary)

In [8]:
ary = []
for i in np.unique(df['Gender']) :
    ary.append([i,np.mean(df[ df['Gender'] == i][['EstimatedSalary']])])

In [34]:
for j in range(0,2) :
    a = [str(i).split('\n') for i in ary[j] ]
    a[1]=str(a[1]).split('   ')
    ary[j] = a

In [64]:
ary

[[['Female'], ["['EstimatedSalary", " 100601.541382', 'dtype: float64']"]],
 [['Male'], ["['EstimatedSalary", " 99664.576931', 'dtype: float64']"]]]

In [122]:
df[['Gender','EstimatedSalary']].groupby(by ='Gender').mean()

        EstimatedSalary
Gender
Female    100601.541382
Male       99664.576931